html{
    /* background-position-x: 25%; */
    background: url('../assets/images/background.jpg') no-repeat center left fixed;
    /* background-image: url('../assets/images/background.jpg'); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: klavikaNormal, Sans-serif;
    font-size: 100%;
    color: white;
}



.left-box{
    /* display: inline-flex;
    flex-direction: column; */
    width: 50%;
    margin-left: 1em;
    margin-top: 1em;
    /* border: 2px solid red; */
    /* flex: 0 1 100vw; */
    /* height: 98%; */
}

h1{
    display: inline;
    font-size: 4em;
    font-weight: normal;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    /* line-height: 1; */
}






.pages{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    position: absolute;
    bottom: 0;
    width: 50%;
    margin-left: 1em;
}

p{
    /* border: 2px solid blueviolet; */
    align-self: flex-start;
    flex: 1 1 auto;
    margin-bottom: auto;
}

ul{
    display: flex;
    /* border: 2px solid burlywood; */
    padding: 0;
}

li{
    display: flex;
    justify-content: space-around;
    width: 3%;
    margin-left: -2px;
    list-style-type: none;
    border: 2px dotted white;
}







@font-face {
    font-family: "klavikaNormal";
    src: url("../assets/fonts/klavika-regular-webfont.woff") format('woff');
}

@font-face {
    font-family: "klavikaBold";
    src: url("../assets/fonts/klavika-bold-webfont.woff") format('woff');
}

@font-face {
    font-family: "klavikaLight";
    src: url("../assets/fonts/klavika-light-webfont.woff") format('woff');
}

@font-face {
    font-family: "klavikaMedium";
    src: url("../assets/fonts/klavika-medium-webfont.woff") format('woff');
}